/*CSS style for term project by Drew Woodfolk*/
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    color:  #fa824c;
    padding: 30px;
    margin-top: 0px;
    background-color:whitesmoke;
    font-size: 50px;

}
p{
    color: white;
}
a{
    color: #fa824c;
}
#image1{
border: 3px solid black;
}
#image2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image4{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image5{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image6{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#video1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#link1{
border-left: 10px solid #fa824c;
}
footer{
   padding: 30px; 
   color: #fa824c;
   background-color: whitesmoke;
   text-align: center;
}
#footertext{
    color: #fa824c;
}
#ibsection{
    background-color: #3c91e6;
    color: white;
    padding: 40px;
    border-left: 10px solid #fa824c;
}
#ibtitle{
    text-align: center;
    color: white;
}
#ibwriting{
    text-align: center;
}
#pesection{
    background-color: #9fd356;
    padding: 40px;
    color: black;
   
}
#petitle{
    text-align: center;
    color: black;
}
#bschoolsection{
    background-color: #342e37;
    padding: 40px;
    border-left: 10px solid #fa824c;
}
#bschooltitle{
    text-align: center;
    color: white;
}
